<section class="todoapp">
 <app-header (addTaskEvent)="addTask($event)"/>
  <div class="container todoapp-wrapper">
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main" *ngIf="tasks.length > 0">
      <ul class="todo-list">
          <app-task *ngFor="let task of tasks"  [task]="task" (removeTaskEvent)="removeTask($event)" />
      </ul>
    </section>
    <!-- This footer should be hidden by default and shown when there are todos -->
    <app-footer *ngIf="tasks.length>0"/>
  </div>
</section>
